/* Profile.module.css */
.profile__wrapper {
  background: url("../../images/header_background.jpg");
  height: 100vh;
  font-family: "Inter", sans-serif;
  color: white;
}

.profileContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url("./avatar.png");
  background-size: cover;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.nickname {
  text-align: center;
  font-weight: bold;
  color: #4ae0c2;
  text-shadow: 0 0 2px black;
  font-size: 24px;
  margin-bottom: 10px;
}
.userButtons .btn {
  padding: 10px 15px;
  border: 1px solid white;
  font-size: 14px;
  border-radius: 0;
  color: white;

  background: #10ffcf25;
  transition: 0.3s;
  box-shadow: inset 0 0 400px 1px rgba(0, 0, 0, 0.2);
  margin: 40px 0 0;
}
.userInfoTag {
  color: #4ae0c2;
  text-shadow: 0 0 2px black;
  margin-top: 5px;
}

.user__edit-form {
  position: fixed;
  top: 300px;
  left: 170px;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid rgb(255, 255, 255);

  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  gap: 30px;
}
.user__edit-form h2 {
  align-self: center;
}

.user__edit-form_fields {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}
.user__edit-form_fields label {
  color: #4ae0c2;
  text-shadow: 0 0 2px black;
}

.user__edit-form_buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.edit-form_buttons_accept {
  color: #befff2;
}
.edit-form_buttons_decline {
  color: rgb(255, 127, 95);
  text-shadow: 0 0 2px black;
}
