.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.search {
  padding: 12px 15px 14px 50px;
  border-radius: 50px;
  border: 1px solid white;
  box-shadow: 15px 20px 45px 0 rgba(255, 255, 255, 0.25);
  width: 80%;
  min-width: 200px;
  font-size: 14px;
  color: white;
  font-family: "Inter", sans-serif;
  background: #0c495a33;
}

.icon-wrapper {
  position: absolute;
  top: 0px;
  left: 11%;
  width: 40px;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.icon {
  width: 22px;
}
