.list_item {
  padding: 16px;
  box-shadow: 0 0 3px 1px #777;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  height: 160px;
}
.list_item img {
  height: 100px;
  background: #000;
}
.list_item_logo-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 90%;
  align-items: center;
}
.list_item_info {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  gap: 10px;
  align-self: baseline;
  padding: 20px;
}

.list_item_info h5 {
  font-size: 14px;
  margin-bottom: 4px;
}

.list_item_text {
  font-size: 14px;
  align-self: baseline;
  padding: 20px;
  color: #555555;
  display: "inline-block";
}
.list_item_likes {
  align-self: end;
  margin-left: auto;
  padding: 10px;
  display: flex;
  gap: 20px;
}
.list_item_likes svg {
  background: white;
  width: 20px;
  height: auto;
}
.list_item_likes .likes,
.list_item_likes .dislikes {
  position: relative;
}

.list_item_likes .dislikes span,
.list_item_likes .likes span {
  position: absolute;
  top: 20px;
  left: 0px;
  color: rgb(113, 113, 113);
  font-size: 12px;
  display: inline-block;
  text-align: center;
  min-width: 20px;
}
.alredy-liked span,
.alredy-disliked span {
  color: rgb(47, 47, 255) !important;
}

.alredy-liked svg,
.alredy-disliked svg {
  stroke: rgba(53, 53, 255, 0.333);
}
